/* Reset de estilos para quitar márgenes y padding predeterminados */
body,
h1,
p,
ul,
li,
label,
input,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    }

header {
    background-color: #F8E8EE;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F8E8EE;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 1px 5px 5px 5px #cae3e8;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e763f3;
    color: #0a0808;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#cargarPatrocinadores {
    background-color: #40d4e1;
    color: #000;
    margin-top: 20px;
}

button#cargarPatrocinadores:hover {
    background-color: #FFB300;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#historial {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #82d7e9;
    color: #fff;
    text-align: center;
}

#listaPatrocinadores {
    margin-top: 20px;
}

#listaPatrocinadores ul {
    list-style: disc;
    padding-left: 20px;
}

#listaPatrocinadores li {
    margin-bottom: 5px;
}

#patrocinadoresContainer {
    display: flex;
    justify-content: space-around;
    /* background-color: #fff; */
}

.patrocinador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 30px;
}

.patrocinador img {
    width: 100px;
    height: 80px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px;
    /* Tamaño de la imagen */
    padding: 10px;
   
    border-radius: 3px;
}